html, body, #root {
  background-color: #EEEEEE;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
#root {  overflow-y: scroll;
}
::selection {
  background: rgb(185, 233, 255); /* WebKit/Blink Browsers */
}
.switch-wrapper {
  position: relative;
}.switch-wrapper > div {
  position: absolute;
}   